.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/.gradle/
/.idea/
gradle/
build.gradle
eicandroid.iml
EICorganizer.iml
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle

#*
#!app/src/

